<section class="my-5">
    <div class="container">    
        <div class="row">
            <div class="col-3">
                <div class="avatar-container">
                    <img src="{{#if user.avatar}}{{user.avatar}}{{else}}/public/img/avatar/default-user.png{{/if}}" id="user-avatar" class="img-fluid avatar" alt="user avatar" width="300">                
                </div>
            </div>
            <div class="col-9">
                <h1>{{user.username}}</h1>
                <div>
                    <button class="btn btn-secondary my-3" data-toggle="modal" data-target="#update-avatar-modal">Change avatar</button>
                    <button class="btn btn-secondary my-3" data-toggle="modal" data-target="#change-password-modal">Change password</button>
                </div>
                <div>
                    <button class="btn btn-primary my-3" data-toggle="modal" data-target="#add-dog-modal">Add a dog</button>
                </div>
            </div>  
        </div> 
    </div>
</section>

{{!-- upload avatar --}}
<div class="modal fade" id="update-avatar-modal" tabindex="-1" role="dialog" aria-labelledby="update-avatar-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="modal-title-default">Upload avatar</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <form id="update-avatar-form" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="user-avatar-upload">Avatar</label>
                        <div id="user-avatar-upload-btn" class="btn btn-primary">Choose file</div>
                        <p id="uploaded-file-name" class="uploaded-file-name"></p>
                        <input type="file" id="user-avatar-upload" class="btn btn-primary d-none" name="avatar" accept="image/*">
                        <input type="hidden" id="user-id" name="user-id" value="{{user._id}}">
                    </div>    
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Upload</button>
                    <button type="button" class="btn btn-link ml-auto" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

{{!-- add dog --}}
<div class="modal fade" id="add-dog-modal" tabindex="-1" role="dialog" aria-labelledby="add-dog-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="modal-title-add-dog">Add a dog</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <form id="add-dog-form">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="add-dog-form-name">Name</label>
                        <input type="text" id="add-dog-form-name" class="form-control" placeholder="name" name="name">
                    </div>
                    <div class="form-group">
                        <label for="add-dog-form-type">Type</label>
                        <select id="add-dog-form-type" class="custom-select form-control" name="type">
                            {{#each types}}
                            <option value="{{this}}">{{this}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Gender</label>
                        <div class="radio-group row-fluid text-center">
                            <div class="col-4 p-0">
                                <input class="radio" type="radio" id="add-dog-form-gender-male" name="gender" value="Male">
                                <label for="add-dog-form-gender-male">Male</label>
                            </div>
                            <div class="col-4 p-0">
                                <input class="radio" type="radio" id="add-dog-form-gender-female" name="gender" value="Female">
                                <label for="add-dog-form-gender-female">Female</label>
                            </div>
                            <div class="col-4 p-0">
                                <input class="radio" type="radio" id="add-dog-form-gender-other" name="gender" value="Other">
                                <label for="add-dog-form-gender-other">Other</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="add-dog-form-dob">Date of Birth</label>
                        <input id="add-dog-form-dob" class="form-control" name="dob" placeholder="Select date" type="text" autocomplete="off">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Create</button>
                    <button type="button" class="btn btn-link ml-auto" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

{{!-- change password --}}
<div class="modal fade" id="change-password-modal" tabindex="-1" role="dialog" aria-labelledby="change-password-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="modal-title-change-password">Change password</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <form id="change-password-form">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="change-password-form-old-password">Old passowrd</label>
                        <input type="password" id="change-password-form-old-password" class="form-control" placeholder="old password" name="old-password">
                    </div>
                    <div class="form-group">
                        <label for="change-password-form-new-password">New password</label>
                        <input type="password" id="change-password-form-new-password" class="form-control" placeholder="new password" name="new-passowrd" data-toggle="tooltip" data-placement="top" title="length must be greatter than or equal to 8">
                    </div>
                    <div class="form-group">
                        <label for="change-password-form-confirm-new-password">Condirm new password</label>
                        <input type="password" id="change-password-form-confirm-new-password" class="form-control" placeholder="new password" name="confirm-new-passowrd" data-toggle="tooltip" data-placement="top" title="must be same as the password you inputted">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Change</button>
                    <button type="button" class="btn btn-link ml-auto" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<section class="my-5">
    <div class="container">
        <h1>Your dogs</h1>
        <p {{#if user.dogs}}style="display: none"{{/if}} id="no-data-found-alert-dog" class="no-data-found-alert">No dogs found. Please add your dogs.</p>
        <div id="dogs-container" class="row dogs-container">
            {{#each user.dogs}}
            <div class="col-md-3 mb-4 dog-container">
                <button type="button" class="btn btn-danger btn-sm btn-round btn-shadow btn-delete-dog position-absolute">delete</button>
                <div class="card">
                    <a href="/dog/{{_id}}" >
                        <div class="avatar-container">
                            {{#if avatar}}
                            <img src="{{ avatar }}" class="card-img-top" alt="dog avatar">
                            {{else}}
                            <img src="/public/img/avatar/default-dog.png" class="card-img-top" alt="dog avatar">
                            {{/if}}
                        </div>
                        <div class="card-body">
                            <h2 class="card-title display-4 mb-0">{{name}}</h2>
                            <p class="card-text">{{gender}} {{type}} {{age}} y/o</p>
                        </div>
                    </a>
                </div>
            </div>    
            {{/each}} 
        </div>
    </div>   
</section>

{{#section 'script'}}
<script src="/public/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/public/js/user.js"></script>
{{#if error}}
<script>
error("{{error}}");
</script>
{{/if}}
{{/section}}