<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-4">
                {{#if dog.avatar}}
                <img src="{{ dog.avatar }}" id="dog-avatar" class="card-img-top" alt="dog's avatar">
                {{else}}
                <img src="/public/img/dog/1.jpg" id="dog-avatar" class="card-img-top" alt="dog's avatar">
                {{/if}}
                <a href="#" data-toggle="modal" data-target="#update-avatar-modal">Change avatar</a>
            </div>
            <div class="col-8">
                <h1><span id="dog-name">{{ dog.name }}</span></h4>
                <h4>Type: <span id="dog-type">{{ dog.type }}</span></h4>
                <h4>Gender: <span id="dog-gender">{{ dog.gender }}</span> Age: <span id="dog-age">{{ dog.age }}</span> </h4>
                <h4>Birthday: <span id="dog-dob">{{ dog.dob }}</span></h4>

                <h4>Owner: {{ dog.owner }}</h2>

                <button id="edit-dog-profile-button" class="btn btn-primary" data-toggle="modal" data-target="#edit-dog-profile-modal">Edit</button>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <h1>Health</h1>
        <button id="add-height-weight-button" class="btn btn-primary" data-toggle="modal" data-target="#add-height-weight-modal">Add Weight/Height</button>
        {{#if dog.heightWeight}}
        <h4>Weight: {{ dog.weight }} Height: {{ dog.height }} BMI: {{ dog.bmi }} LastUpdate: {{ dog.lastHeightWeightUpdate }}</h4>
        <h4>Health condition: good</h4>
        <div class="row">
            <canvas class="col-lg-6" id="bmi-chart" height="350"></canvas>
            <canvas class="col-lg-6" id="weight-chart" height="350"></canvas>
        </div> 
        {{else}}
        <h3>Please update weight and height of the dog to see health data.</h3>
        {{/if}}
    </div>
</section>

<section>
    <div class="container">
        <h1>Photos</h1>
        <button class="btn btn-primary" href="#" data-toggle="modal" data-target="#modal-default">Upload photo</button>
        <div class="row">
            <img class="col-3 my-3" src="/public/img/dog/1.jpg" >
            <img class="col-3 my-3" src="/public/img/dog/1.jpg" >
            <img class="col-3 my-3" src="/public/img/dog/1.jpg" >
            <img class="col-3 my-3" src="/public/img/dog/1.jpg" >
            <img class="col-3 my-3" src="/public/img/dog/1.jpg" >
            <img class="col-3 my-3" src="/public/img/dog/1.jpg" >
            <img class="col-3 my-3" src="/public/img/dog/1.jpg" >
            <img class="col-3 my-3" src="/public/img/dog/1.jpg" >
        </div>
        <button class="btn btn-primary">Load More</button>
    </div>
</section>

<section>
    <div class="container">
        <h1>Comment</h1>
        {{#each comments}}
            <div class="comment">
                <p>{{content}}</p>
                <p>Author: {{author}}</p>
            </div>
        {{/each}}
        <form>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Write a large text here ..."></textarea>
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
</section>

<h1>{{ title }}</h1>
<main>
    <p>name: {{ dog.dogName }}</p>
    <p>gender: {{ dog.gender }}</p>
    
    <p>{{ dog.dateOfBirth }}</p>


    {{#each dog.heightWeight}}
        <p>date: {{this.date}}</p>
        <p>height: {{this.height}}</p>
        <p>weight: {{this.weight}}</p>
    {{/each}}
        

</main>

{{!-- modal for edit profile --}}
<div class="modal fade" id="edit-dog-profile-modal" tabindex="-1" role="dialog" aria-labelledby="edit-dog-profile-modal" aria-hidden="true">
    <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="modal-title-default">Edit profile</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <form id="edit-dog-form">
                <div class="modal-body">
                    <div class="form-group">
                    <label for="edit-dog-form-name">Name</label>
                    <input type="text" id="edit-dog-form-name" class="form-control" placeholder="name" name="name">
                    <label for="edit-dog-form-type">Type</label>
                    <input type="text" id="edit-dog-form-type" class="form-control" placeholder="type" name="type">
                    {{!-- <div class="custom-control custom-radio mb-3">
                        <input name="edit-dog-form-gender" class="custom-control-input" id="edit-dog-form-gender-1" type="radio">
                        <label class="custom-control-label" for="edit-dog-form-gender-1">Male</label>
                    </div>
                    <div class="custom-control custom-radio mb-3">
                        <input name="edit-dog-form-gender" class="custom-control-input" id="edit-dog-form-gender-2" type="radio">
                        <label class="custom-control-label" for="edit-dog-form-gender-2">Female</label>
                    </div> --}}
                    {{!-- <label for="inputGroupSelect01">Options</label> --}}
            {{!-- <select class="custom-select" id="inputGroupSelect01">
                <option selected>Choose...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select> --}}
                    <label for="edit-dog-form-gender">Gender</label>
                    <input type="text" id="edit-dog-form-gender" class="form-control" placeholder="gender" name="gender">
                    <label for="edit-dog-form-dob">Date of Birth</label>
                    <input type="text" id="edit-dog-form-dob" class="form-control" placeholder="date of birth" name="dob">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Update</button>
                    <button type="button" class="btn btn-link ml-auto" data-dismiss="modal">Close</button>
                </div>
            </form>

        </div>
    </div>
</div>

{{!-- modal for upload photo --}}
<div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
    <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="modal-title-default">Upload photo</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <form method="post" action="/updateUserAvatar" enctype="multipart/form-data">
            <div class="modal-body">
                <input type="file" class="btn btn-primary" name="avatar" accept="image/*">
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Upload</button>
                <button type="button" class="btn btn-link ml-auto" data-dismiss="modal">Close</button>
            </div>
            </form>
        </div>
    </div>
</div>

{{!-- modal for add height weight --}}
<div class="modal fade" id="add-height-weight-modal" tabindex="-1" role="dialog" aria-labelledby="add-height-weight-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="modal-title-default">Upload photo</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <form id="add-height-weight-form">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="add-height-weight-form-weight">Weight</label>
                        <input type="text" id="add-height-weight-form-weight" class="form-control" placeholder="weight" name="weight">
                        <label for="add-height-weight-form-height">Height</label>
                        <input type="text" id="add-height-weight-form-height" class="form-control" placeholder="height" name="height">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Upload</button>
                    <button type="button" class="btn btn-link ml-auto" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

{{!-- modal for update avatar --}}
<div class="modal fade" id="update-avatar-modal" tabindex="-1" role="dialog" aria-labelledby="update-avatar-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="modal-title-default">Upload photo</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <form id="update-avatar-form" enctype="multipart/form-data">
                <div class="modal-body">
                    <input type="file" class="btn btn-primary" name="avatar" accept="image/*">
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Upload</button>
                    <button type="button" class="btn btn-link ml-auto" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

{{#section 'script'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
<script src="/public/js/dogs.js"></script>
{{#if dog.heightWeight}}
<script>
new Chart($('#bmi-chart'), {
    type: 'line',
    data: {
        labels: [{{#each dog.healthDateList}}"{{ this }}",{{/each}}],
        datasets: [{
            label: 'BMI',
            backgroundColor: "#3099d8",
            borderColor: "#3099d8",
            data: [{{ dog.bmiList }}],
            fill: false,
        }]
    },
    options: {
        responsive: true,
        title: {
            display: true,
            text: 'BMI Trend'
        },
        tooltips: {
            mode: 'index',
            intersect: false,
        },
        hover: {
            mode: 'nearest',
            intersect: true
        },
        scales: {
            xAxes: [{
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: 'Date'
                }
            }],
            yAxes: [{
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: 'BMI'
                }
            }]
        }
    }
});

new Chart($('#weight-chart'), {
    type: 'line',
    data: {
        labels: [{{#each dog.healthDateList}}"{{ this }}",{{/each}}],
        datasets: [{
            label: 'Weight',
            backgroundColor: "#3099d8",
            borderColor: "#3099d8",
            data: [{{ dog.weightList }}],
            fill: false,
        }]
    },
    options: {
        responsive: true,
        title: {
            display: true,
            text: 'Weight Trend'
        },
        tooltips: {
            mode: 'index',
            intersect: false,
        },
        hover: {
            mode: 'nearest',
            intersect: true
        },
        scales: {
            xAxes: [{
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: 'Weight'
                }
            }],
            yAxes: [{
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: 'Date'
                }
            }]
        }
    }
});
</script>
{{/if}}
{{/section}}