<section class="section">
    <div class="container">
       
        <div class="row">
            <div class="col-4">
                <img src="/public/img/dog/1.jpg" class="card-img-top" alt="...">
                <a href="#">Change avatar</a>
            </div>
            <div class="col-8">
                <h1>{{ dog.dogName }}</h3>
                <h3>Type: {{ dog.type }} Gender: {{ dog.gender }} Age: {{ dog.age }} </h3>

                <h2>Own by sadsad</h2>

                <button class="btn btn-primary" data-toggle="modal" data-target="#edit-dog-profile-modal">Edit</button>
            </div>
        </div>
       
    </div>
</section>

<section>
    <div class="container">
        <h1>Health</h1>
        <h3>Weight: {{ dog.currentWeight }} Height: {{ dog.currentHeight }} BMI: {{ dog.currentBMI }}</h3>
        <h3>Health condition: good</h2>
        <div class="row">
            <canvas class="col-lg-6" id="myChart1" height="350"></canvas>
            <canvas class="col-lg-6" id="myChart2" height="350"></canvas>
        </div> 
    </div>
</section>

<section>
    <div class="container">
        <h1>Photos</h1>
        <button class="btn btn-primary" href="#" data-toggle="modal" data-target="#modal-default">Upload photo</button>
        <div class="row">
            <img class="col-3 my-3" src="/public/img/dog/1.jpg" >
            <img class="col-3 my-3" src="/public/img/dog/1.jpg" >
            <img class="col-3 my-3" src="/public/img/dog/1.jpg" >
            <img class="col-3 my-3" src="/public/img/dog/1.jpg" >
            <img class="col-3 my-3" src="/public/img/dog/1.jpg" >
            <img class="col-3 my-3" src="/public/img/dog/1.jpg" >
            <img class="col-3 my-3" src="/public/img/dog/1.jpg" >
            <img class="col-3 my-3" src="/public/img/dog/1.jpg" >
        </div>
        <button class="btn btn-primary">Load More</button>
    </div>
</section>

<section>
    <div class="container">
        <h1>Comment</h1>
        {{#each comments}}
            <div class="comment">
                <p>{{content}}</p>
                <p>Author: {{author.username}}</p>
            </div>
        {{/each}}
        <form>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Write a large text here ..."></textarea>
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
</section>

<h1>{{ title }}</h1>
<main>
    <p>name: {{ dog.dogName }}</p>
    <p>gender: {{ dog.gender }}</p>
    
    <p>{{ dog.dateOfBirth }}</p>


    {{#each dog.heightWeight}}
        <p>date: {{this.date}}</p>
        <p>height: {{this.height}}</p>
        <p>weight: {{this.weight}}</p>
    {{/each}}
        

</main>

<div class="modal fade" id="edit-dog-profile-modal" tabindex="-1" role="dialog" aria-labelledby="edit-dog-profile-modal" aria-hidden="true">
    <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="modal-title-default">Edit profile</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <form id="edit-dog-form">
                <div class="modal-body">
                    <label for="edit-dog-form-type">Type</label>
                    <input type="text" id="edit-dog-form-type" class="" name="type">
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Update</button>
                    <button type="button" class="btn btn-link ml-auto" data-dismiss="modal">Close</button>
                </div>
            </form>

        </div>
    </div>
</div>

<div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
    <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h6 class="modal-title" id="modal-title-default">Upload photo</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <form method="post" action="/updateUserAvatar" enctype="multipart/form-data">
            <div class="modal-body">
                <input type="file" class="btn btn-primary" name="avatar" accept="image/*">
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Upload</button>
                <button type="button" class="btn btn-link ml-auto" data-dismiss="modal">Close</button>
            </div>
            </form>

        </div>
    </div>
</div>