{{#section 'style'}}
<link type="text/css" href="/public/vendor/lightbox2/css/lightbox.min.css" rel="stylesheet">
{{/section}}
{{!-- Basic Info --}}
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-3">
                {{#if dog.avatar}}
                <img src="{{ dog.avatar }}" id="dog-avatar" class="img-fluid rounded-circle avatar" alt="dog's avatar">
                {{else}}
                <img src="/public/img/dog/1.jpg" id="dog-avatar" class="img-fluid rounded-circle avatar" alt="dog's avatar">
                {{/if}}
            </div>
            <div class="col-9">
                <h1><span id="dog-name">{{ dog.name }}</span></h1>
                <button data-toggle="modal" class="btn btn-primary" data-target="#update-avatar-modal">Change avatar</a>
                <button id="edit-dog-profile-button" class="btn btn-primary" data-toggle="modal" data-target="#edit-dog-profile-modal">Edit</button>
            
                <h4>Type: <span id="dog-type">{{ dog.type }} </span> Gender: <span id="dog-gender">{{ dog.gender }}</span> Age: <span id="dog-age">{{ dog.age }}</span> </h4>
                <h4> </h4>
                <h4>Birthday: <span id="dog-dob">{{ dog.dob }}</span></h4>

                <h4>Owner: {{ dog.owner }}</h2>
            </div>
        </div>
    </div>
</section>

{{!-- Health --}}
<section>
    <div class="container">
        <h1>Health</h1>
        <button id="add-height-weight-button" class="btn btn-primary" data-toggle="modal" data-target="#add-height-weight-modal">Add Weight/Height</button>
        {{#if dog.heightWeight}}
        <h4>Weight: {{ dog.weight }} Height: {{ dog.height }} BMI: {{ dog.bmi }} LastUpdate: {{ dog.lastHeightWeightUpdate }}</h4>
        <h4>Health condition: good</h4>
        {{else}}
        <h3>Please update weight and height of the dog to see health data.</h3>
        {{/if}}
        <div class="row">
            <canvas class="col-lg-6" id="bmi-chart" height="350"></canvas>
            <canvas class="col-lg-6" id="weight-chart" height="350"></canvas>
        </div> 
    </div>
</section>

{{!-- Photo --}}
<section>
    <div class="container">
        <h1>Photos</h1>
        <button class="btn btn-primary" data-toggle="modal" data-target="#upload-photo-modal">Upload photo</button>
        <div id="photos" class="row">
            {{#each dog.photos}}
            <div class="col-lg-3 col-6 my-3 dog-img-container">
                <button type="button" class="btn btn-danger btn-sm btn-round btn-shadow btn-delete-photo position-absolute">delete</button>
                <a href="{{ photo }}" data-alt="dog photos" data-lightbox="photos">
                    <img id="{{ id }}" src="{{ photo }}" class="dog-img img-fluid rounded w-100" alt="dog photos">
                </a>
            </div>
            {{/each}}
        </div>

        {{#if dog.isPhotoLastPage}}
        <button id="load-more-photos" style="display: none" current-page="1" class="btn btn-primary">Load More</button>
        {{else}}
        <button id="load-more-photos" current-page="1" class="btn btn-primary">Load More</button>
        {{/if}}

    </div>
</section>

{{!-- Comment --}}
<section>
    <div class="container">
        <h1>Comment</h1>
        <div class="comment-container">
        {{#each comments}}
            <div class="card single-comment">
                <img class="avatar" src="{{user.avatar}}">
                <p>{{content}}</p>
                <p>Author: {{user.username}} {{date}}</p>
            </div>
        {{/each}}
        </div>
        <form>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Write a large text here ..."></textarea>
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
</section>

{{!-- modal for edit profile --}}
<div class="modal fade" id="edit-dog-profile-modal" tabindex="-1" role="dialog" aria-labelledby="edit-dog-profile-modal" aria-hidden="true">
    <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="modal-title-default">Edit profile</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <form id="edit-dog-form">
                <div class="modal-body">
                    <div class="form-group">
                    <label for="edit-dog-form-name">Name</label>
                    <input type="text" id="edit-dog-form-name" class="form-control" placeholder="name" name="name">
                    <label for="edit-dog-form-type">Type</label>
                    <input type="text" id="edit-dog-form-type" class="form-control" placeholder="type" name="type">
                    {{!-- <div class="custom-control custom-radio mb-3">
                        <input name="edit-dog-form-gender" class="custom-control-input" id="edit-dog-form-gender-1" type="radio">
                        <label class="custom-control-label" for="edit-dog-form-gender-1">Male</label>
                    </div>
                    <div class="custom-control custom-radio mb-3">
                        <input name="edit-dog-form-gender" class="custom-control-input" id="edit-dog-form-gender-2" type="radio">
                        <label class="custom-control-label" for="edit-dog-form-gender-2">Female</label>
                    </div> --}}
                    {{!-- <label for="inputGroupSelect01">Options</label> --}}
            {{!-- <select class="custom-select" id="inputGroupSelect01">
                <option selected>Choose...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select> --}}
                    <label for="edit-dog-form-gender">Gender</label>
                    <input type="text" id="edit-dog-form-gender" class="form-control" placeholder="gender" name="gender">
                    <label for="edit-dog-form-dob">Date of Birth</label>
                    <input type="text" id="edit-dog-form-dob" class="form-control" placeholder="date of birth" name="dob">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Update</button>
                    <button type="button" class="btn btn-link ml-auto" data-dismiss="modal">Close</button>
                </div>
            </form>

        </div>
    </div>
</div>

{{!-- modal for upload photo --}}
<div class="modal fade" id="upload-photo-modal" tabindex="-1" role="dialog" aria-labelledby="upload-photo-modal" aria-hidden="true">
    <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="modal-title-default">Upload photo</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <form id="upload-photo-form" enctype="multipart/form-data">
                <div class="modal-body">
                    <input type="file" class="btn btn-primary" name="photo" accept="image/*">
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Upload</button>
                    <button type="button" class="btn btn-link ml-auto" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

{{!-- modal for add height weight --}}
<div class="modal fade" id="add-height-weight-modal" tabindex="-1" role="dialog" aria-labelledby="add-height-weight-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="modal-title-default">Upload photo</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <form id="add-height-weight-form">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="add-height-weight-form-weight">Weight</label>
                        <input type="text" id="add-height-weight-form-weight" class="form-control" placeholder="weight" name="weight">
                        <label for="add-height-weight-form-height">Height</label>
                        <input type="text" id="add-height-weight-form-height" class="form-control" placeholder="height" name="height">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Upload</button>
                    <button type="button" class="btn btn-link ml-auto" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

{{!-- modal for update avatar --}}
<div class="modal fade" id="update-avatar-modal" tabindex="-1" role="dialog" aria-labelledby="update-avatar-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="modal-title-default">Upload photo</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <form id="update-avatar-form" enctype="multipart/form-data">
                <div class="modal-body">
                    <input type="file" class="btn btn-primary" name="avatar" accept="image/*">
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Upload</button>
                    <button type="button" class="btn btn-link ml-auto" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

{{#section 'script'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
<script src="/public/vendor/lightbox2/js/lightbox.min.js"></script>
<script src="/public/js/healthChart.js"></script>
<script src="/public/js/dogs.js"></script>
<script>
    lightbox.option({
        'fadeDuration': 200,
        'imageFadeDuration': 200,
        'showImageNumberLabel': false,
        'resizeDuration': 200,
        'wrapAround': true
    })
</script>
{{#if dog.heightWeight}}
<script>
{{#each dog.healthDateList}}
    addLabel(bmiChart, "{{ this }}");
    addLabel(weightChart, "{{ this }}");
{{/each}}
{{#each dog.bmiList}}
    addData(bmiChart, {{ this }});
{{/each}}
{{#each dog.weightList}}
    addData(weightChart, {{ this }});
{{/each}}
</script>
{{/if}}
{{/section}}