{{#section 'style'}}
<link type="text/css" href="/public/vendor/lightbox2/css/lightbox.min.css" rel="stylesheet">
{{/section}}
{{!-- Basic Info --}}
<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-3">
                {{#if dog.avatar}}
                <img src="{{ dog.avatar }}" id="dog-avatar" class="img-fluid rounded-circle avatar" alt="dog's avatar">
                {{else}}
                <img src="/public/img/dog/1.jpg" id="dog-avatar" class="img-fluid rounded-circle avatar" alt="dog's avatar">
                {{/if}}
                <div class="text-center">
                    <button data-toggle="modal" class="btn btn-secondary my-3" data-target="#update-avatar-modal">Change avatar</button>
                </div>
            </div>
            <div class="col-9">
                <div class="dog-info-container">
                    <h1><span id="dog-name">{{ dog.name }}</span></h1>
                    <h2>Type</h2>
                    <p id="dog-type">{{ dog.type }}</p>
                    <h2>Gender</h2>
                    <p id="dog-gender">{{ dog.gender }}</p>
                    <h2>Age</h2>
                    <p id="dog-age">{{ dog.age }}</p>
                    <div>
                        <h2>Birthday</h2>
                        <p id="dog-dob">{{ dog.dob }}</p>
                    </div>
                    <div>
                        <h2>Owner</h2>
                        <p id="dog-owner">{{ dog.owner }}</p>
                    </div>
                </div>
                <button id="edit-dog-profile-button" class="btn btn-primary my-3" data-toggle="modal" data-target="#edit-dog-profile-modal">Edit</button>
            </div>
        </div>
    </div>
</section>

{{!-- Health --}}
<section class="m-4">
    <div class="container">
        <h1>Health</h1>
        <div class="dog-health-container">
            {{#unless dog.heightWeight}}
            <p id="no-data-found-alert-health" class="no-data-found-alert">Please update weight and height of the dog to see health data.</p>
            {{/unless}}
            <div class="dog-health-info">
                {{#if dog.heightWeight}}
                <div class="dog-health-info-basic">
                    <h2>Weight</h2>
                    <p id="dog-weight">{{ dog.weight }}</p>
                    <h2>Height</h2>
                    <p id="dog-height">{{ dog.height }}</p> 
                    <h2>BMI</h2>
                    <p id="dog-bmi">{{ dog.bmi }}</p>
                </div>
                <div class="dog-health-info-condition">
                    <h2>Health Condition</h2>
                    <p id="dog-health">Good</p>
                </div>
                <div class="dog-health-info-date">
                    <h2>Last Update</h2>
                    <p id="dog-date">{{ dog.lastHeightWeightUpdate }}</p>
                </div>
                {{/if}}
            </div>
            <button id="add-height-weight-button" class="btn btn-primary my-3" data-toggle="modal" data-target="#add-height-weight-modal">Add Weight/Height</button>
            <div class="row">
                <canvas class="col-lg-6" id="bmi-chart" height="350"></canvas>
                <canvas class="col-lg-6" id="weight-chart" height="350"></canvas>
            </div> 
        </div>
    </div>
</section>

{{!-- Photo --}}
<section class="m-4">
    <div class="container">
        <h1>Photos</h1>
        <p {{#if photos}}style="display: none"{{/if}} id="no-data-found-alert-photo" class="no-data-found-alert">No photos found. Welcome to upload your lovely photos.</p>
        <button class="btn btn-primary my-2" data-toggle="modal" data-target="#upload-photo-modal">Upload photo</button>
        <div id="photos" class="row">
            {{#each photos}}
            <div class="col-lg-3 col-6 my-3 dog-img-container">
                <button type="button" class="btn btn-danger btn-sm btn-round btn-shadow btn-delete-photo position-absolute">delete</button>
                <a href="{{ photo }}" data-alt="dog photos" data-lightbox="photos">
                    <img id="{{ id }}" src="{{ photo }}" class="dog-img img-fluid rounded w-100" alt="dog photos">
                </a>
            </div>
            {{/each}}
        </div>
        <div class="text-center">
            <button id="load-more-photos" data-current-page="1" {{#if isPhotoLastPage}} style="display: none" {{/if}} class="btn btn-secondary">Load More</button>
        </div>
    </div>
</section>

{{!-- Comment --}}
<section class="m-4">
    <div class="container">
        <h1>Comment</h1>
        {{#unless comments}}
        <p id="no-data-found-alert-comment" class="no-data-found-alert">No comments found.</p>
        {{/unless}}
        <div id="comments" class="comment-container">
        {{#each comments}}
            <div class="row single-comment">
                <div class="col-2">
                    {{#if user.avatar}}
                    <img class="avatar" src="{{user.avatar}}">
                    {{else}}
                    <img class="avatar" src="/public/img/dog/1.jpg">
                    {{/if}}
                </div>
                <div class="col-10">
                    <div class="comment-content">
                        <p>{{content}}</p>
                        <p class="comment-data">
                            <a href="#">{{user.username}}</a>
                            <span class="comment-date">{{date}}</span>
                        </p>
                    </div>
                </div>
            </div>
        {{/each}}
        </div>
        <div class="text-center">
            <button id="load-more-comments" data-current-page="1" {{#if isCommentLastPage}} style="display: none" {{/if}} class="btn btn-secondary">Load more</button>
        </div>
        <div class="comment-form-container my-4">
            <form id="comment-form">
                <label for="comment-form-content">Comment</label>
                <textarea class="form-control comment-form-content" name="content" id="comment-form-content" rows="3" placeholder="Write a large text here ..."></textarea>
                <button class="btn btn-primary btn-comment" type="submit">Post comment</button>
            </form>
        </div>
    </div>
</section>

{{!-- modal for edit profile --}}
<div class="modal fade" id="edit-dog-profile-modal" tabindex="-1" role="dialog" aria-labelledby="edit-dog-profile-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Edit profile</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <form id="edit-dog-form">
                <div class="modal-body">
                    <div class="form-group">
                    <label for="edit-dog-form-name">Name</label>
                    <input type="text" id="edit-dog-form-name" class="form-control" placeholder="name" name="name">
                    <label for="edit-dog-form-type">Type</label>
                    <input type="text" id="edit-dog-form-type" class="form-control" placeholder="type" name="type">
                    {{!-- <div class="custom-control custom-radio mb-3">
                        <input name="edit-dog-form-gender" class="custom-control-input" id="edit-dog-form-gender-1" type="radio">
                        <label class="custom-control-label" for="edit-dog-form-gender-1">Male</label>
                    </div>
                    <div class="custom-control custom-radio mb-3">
                        <input name="edit-dog-form-gender" class="custom-control-input" id="edit-dog-form-gender-2" type="radio">
                        <label class="custom-control-label" for="edit-dog-form-gender-2">Female</label>
                    </div> --}}
                    {{!-- <label for="inputGroupSelect01">Options</label> --}}
            {{!-- <select class="custom-select" id="inputGroupSelect01">
                <option selected>Choose...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select> --}}
                    <label for="edit-dog-form-gender">Gender</label>
                    <input type="text" id="edit-dog-form-gender" class="form-control" placeholder="gender" name="gender">
                    <label for="edit-dog-form-dob">Date of Birth</label>
                    <input type="text" id="edit-dog-form-dob" class="form-control" placeholder="date of birth" name="dob">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Update</button>
                    <button type="button" class="btn btn-link ml-auto" data-dismiss="modal">Close</button>
                </div>
            </form>

        </div>
    </div>
</div>

{{!-- modal for upload photo --}}
<div class="modal fade" id="upload-photo-modal" tabindex="-1" role="dialog" aria-labelledby="upload-photo-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Upload photo</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <form id="upload-photo-form" enctype="multipart/form-data">
                <div class="modal-body">
                    <input type="file" class="btn btn-primary" name="photo" accept="image/*">
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Upload</button>
                    <button type="button" class="btn btn-link ml-auto" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

{{!-- modal for add height weight --}}
<div class="modal fade" id="add-height-weight-modal" tabindex="-1" role="dialog" aria-labelledby="add-height-weight-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Update health information</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <form id="add-height-weight-form">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="add-height-weight-form-weight">Weight</label>
                        <input type="text" id="add-height-weight-form-weight" class="form-control" placeholder="weight" name="weight">
                        <label for="add-height-weight-form-height">Height</label>
                        <input type="text" id="add-height-weight-form-height" class="form-control" placeholder="height" name="height">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Update</button>
                    <button type="button" class="btn btn-link ml-auto" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

{{!-- modal for update avatar --}}
<div class="modal fade" id="update-avatar-modal" tabindex="-1" role="dialog" aria-labelledby="update-avatar-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Upload avatar</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <form id="update-avatar-form" enctype="multipart/form-data">
                <div class="modal-body">
                    <input id="update-avatar-form-file" type="file" class="" name="avatar" accept="image/*">
                    <label class="" for="update-avatar-form-file">Select file</label>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Upload</button>
                    <button type="button" class="btn btn-link ml-auto" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

{{#section 'script'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
<script src="/public/vendor/lightbox2/js/lightbox.min.js"></script>
<script src="/public/js/healthChart.js"></script>
<script src="/public/js/dogs.js"></script>
<script>
    lightbox.option({
        'fadeDuration': 200,
        'imageFadeDuration': 200,
        'showImageNumberLabel': false,
        'resizeDuration': 200,
        'wrapAround': true
    })
</script>
{{#if dog.heightWeight}}
<script>
{{#each dog.healthDateList}}
    addLabel(bmiChart, "{{ this }}");
    addLabel(weightChart, "{{ this }}");
{{/each}}
{{#each dog.bmiList}}
    addData(bmiChart, {{ this }});
{{/each}}
{{#each dog.weightList}}
    addData(weightChart, {{ this }});
{{/each}}
</script>
{{/if}}
{{/section}}