<h1>{{ title }}</h1>
<main>
    <p>name: {{ dog.dogName }}</p>
    <p>gender: {{ dog.gender }}</p>
    <p>dob: {{ dog.dateOfBirth }}</p>

    {{#each dog.heightWeight}}
        <p>date: {{this.date}}</p>
        <p>height: {{this.height}}</p>
        <p>weight: {{this.weight}}</p>
    {{/each}}

    <p>type: {{ dog.type }}</p>
</main>