<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
<section class="section">
    <div class="container">
       
        <div class="row">
            <div class="col-4">
                <img src="/public/img/dog/1.jpg" class="card-img-top" alt="...">
                <a href="#">Change avatar</a>
            </div>
            <div class="col-8">
                <h2>{{ dog.dogName }}</h2>
                <h2>{{ dog.type }} {{ dog.gender }} 17</h2>

                <h2>Own by sadsad</h2>
                <h2>Health condition: good</h2>
                <button class="btn btn-primary">Edit</button>
            </div>
        </div>
       
    </div>
</section>

<section>
    <div class="container">
        <h1>Photos</h1>
        <button class="btn btn-primary" href="#" data-toggle="modal" data-target="#modal-default">Upload photo</a>

        <button class="btn btn-primary">Load More</button>
    </div>
</section>

<section>
    <div class="container">
        <h1>Health</h1>
        <div class="row">
            <canvas class="col-6" id="myChart1" ></canvas>
            <canvas class="col-6" id="myChart2" ></canvas>
        </div> 
    </div>
</section>


<section>
    <div class="container">
        <h1>Comment</h1>
        <form>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Write a large text here ..."></textarea>
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
</section>

<h1>{{ title }}</h1>
<main>
    <p>name: {{ dog.dogName }}</p>
    <p>gender: {{ dog.gender }}</p>
    
    <p>{{ dog.dateOfBirth }}</p>


    {{#each dog.heightWeight}}
        <p>date: {{this.date}}</p>
        <p>height: {{this.height}}</p>
        <p>weight: {{this.weight}}</p>
    {{/each}}
        
    {{#each comments}}
        <h1>Comment</h1>
        <p>{{content}}</p>
        <p>{{author}}</p>
    {{/each}}
</main>

<script src="/public/js/dogs.js"></script>




<div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
    <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h6 class="modal-title" id="modal-title-default">Upload photo</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <form method="post" action="/updateUserAvatar" enctype="multipart/form-data">
            <div class="modal-body">
                <input type="file" class="btn btn-primary" name="avatar" accept="image/*">
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Upload</button>
                <button type="button" class="btn btn-link ml-auto" data-dismiss="modal">Close</button>
            </div>
            </form>

        </div>
    </div>
</div>